@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    -webkit-tap-highlight-color: transparent;
  }
  body {
    @apply bg-gray-50 dark:bg-gray-950 text-gray-900 dark:text-white antialiased;
    overscroll-behavior: none;
  }
}

@layer utilities {
  .no-select {
    user-select: none;
    -webkit-user-select: none;
  }
}
